@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-indent {
    text-indent: 1.5rem;
  }
}

nav .nuxt-link-exact-active {
  @apply border-gold border-b-2;
}

.line-1 {
  @apply border-t border-gold w-1/4 mx-auto;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}
